.App{
    margin: 20px auto;
    max-width:900px;
    width:100%;
    background-image:url('https://cdn.shopify.com/s/files/1/0862/8040/products/20171228_141540_1400x.jpg?v=1518050211');
    background-position: 70% 50%; 
    border: 10px ridge #ADB0A7;
    height:800px;

}