body {
    background-color: #222C48;
}

.friendsHeader {
    margin-left: 40%;
    margin-top: 25px;
    color: #FFF;
}

.friendsRow {
    justify-content: center;
    margin-top: 50px;
}

.friendCard {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    width: 33%;
    margin-bottom: 20px;
    text-align: center;
}

.editFriend {
    display: flex;
    justify-content: center;
}

.editFriendButton {
    margin-left: 10px;
}