input {
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  width: 31%;
}

button {
  padding: 0.5rem 3rem;
  width: 100%;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
  border-color: white;
  margin: 1% 0;
}
