.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	background: white;
}

.footer-form {
	margin: 1rem;
	width: 99vw;
	height: 5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer-input {
	width: 20rem;
	font-size: 1.6rem;
	margin: 0 0 0 1rem;
	border-radius: 0.5rem;
	border: 1px solid grey;
	text-indent: 0.2rem;
}

.add-friend-button {
	padding: 0.5rem 0;
	margin: 0 5.5rem 0 1rem;
	width: 3.9rem;
	font-size: 1.2rem;
	background: white;
	border: 0px solid white;
	border-radius: 1rem;
}

.add-friend-button:hover {
	background: black;
	color: white;
}