ul {
    list-style-type: none;
}

.list {
    border: 1px solid red;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    font-family: monaco;
    text-align: center;
}

.inputs {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    font-family: monaco;
    margin: 40px 30px;
}

label {
    font-family: monaco;
    font-size: 15px;
}

input[type='submit'] {
    display: inline-block;
    position: absolute;
    border: 2px solid black;
    width: 100px;
    height: 30px;
    top: 40%;
    left: 42%;
}

form {
    width: 100%;
    margin-left: 40px;
    position: relative;
    height: 40vh;
    margin-top: 40px;
}
