.Friends {
  margin-bottom: 20px;

  text-align: center;

  display: inherit;
  flex-flow: row wrap;
}

.FriendContainer {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  margin: 1rem;
  padding: 1rem;
  min-width: 15rem;
  width: 200px;
  height: 200px;

  display: inherit;
  flex-direction: column;
  justify-content: center;
}

.Friend {
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
