.Friend {
	width: 250px;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Friend:hover {
	/*text-decoration: underline;
	cursor: pointer;*/
}

.ButtonsHeader {
	width: 250px;

	display: flex;
	justify-content: flex-start;
}

.DeleteFriendButton {
	height: 18px;
}

.FriendMainContainer {
	display: inherit;
	justify-content: flex-start;
}

.EditButtonHeader {
	width: 250px;
	margin-bottom: 20px;
}

.Friend__listItem {
	list-style-type: none;
}

.Friend__listItem--name {
	margin-bottom: 0;
}

.Friend__listItem--email {
	margin-bottom: 20px;
}

.CancelEditButton {
	margin-bottom: 20px;
}

.FriendsDetailedHeader {
	height: 50px;

	display: inherit;
	align-items: flex-end;
}
