.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 6rem;
  text-align: center;
  background: rgb(99, 219, 219);
  border-radius: 3em 3em 3em 0em;
  font-family: "Oleo Script Swash Caps", cursive;
  color: white;
  font-size: 4.5rem;
}

div.friend-card {
  border-radius: 3em 3em 3em 0em;
}

div.add-form {
  width: 60%;
  background-color: #dcabdf;
}
