.App {
  text-align: center;
  background-color: rgb(243, 234, 217);
  margin: 0 10%;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.container {
  background-color:rgb(243, 234, 217);
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.friendCard {
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  width: 20%;
  background-color: whitesmoke;
  min-width: 235px;
}

.inputField {
  background-color: whitesmoke;
}
.w100 {
  width: 100%;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
