#root {
  background: #3b5998;
  max-width: 2500px;
  height: 1000px;
}

.App {
  background: white;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}

h1 {
  color: #3b5998;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 20px;
}

.friends {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.friend {
  border: 2px solid #3b5998;
  padding: 7px;
  margin: 10px 20px;
}

.newFriend {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}

label {
  margin: 0 10px;
  width: 25%;
}

input {
  font-size: 1rem;
}

button {
  font-size: .7rem;
  border-radius: 5px;
  margin: 0 4px;
  width: 60px;
  height: 25px;
}

button:hover {
  background: rgb(219, 219, 219);
  cursor: pointer;
}