.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.friend-container {
  width: 30%;
  margin: 10px;
  border: 1px solid black;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friend-container p {
  margin: 10px;
}

.friends-container {
  display: flex;
  flex-direction: column;
}

.friend-name {
  font-weight: 700;
}

.friend-name:hover {
  cursor: pointer;
}

.open-close-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.delete-button {
  width: 80%;
  font-size: 12px;
  margin: 5px;
}

.edit-button {
  width: 80%;
  font-size: 12px;
  margin: 5px;
}

.edit-field {
  width: 80%;
  display: block;
  font-size: 12px;
  margin: 5px;
}

.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-button {
  width: 80%;
  font-size: 12px;
  margin-bottom: 10px;
}

.add-field {
  margin: 10px;
  font-size: 12px;
}

.add-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-form .form-control {
  width: 20%;
}

.add-button { 
  max-height: 30px;
  font-size: 12px;
  padding: 5px;
}