.App {
  text-align: center;
}


body{
  background:#136;
}

.infoCard{
  display:flex;
  flex-direction: column;
  margin:auto;
  /* border: 2px solid yellow; */
  background: #024;

  padding:10px;
  margin-top: 10px;
  width: 250px;

}

h1{
  font-size: 4rem;
  letter-spacing: 4rem;
  margin: auto;
  padding: 30px;
}

h2{
  color:#ccd;
  font-family: 'ZCOOL KuaiLe', cursive;
 
}

h4{
  color: #79c;
}

p{
  color:#79c;
}

form input{
  height:2rem;
  margin:20px;
  margin-left:10px;
  width: 200px;
  border-radius:25px; 
  background:#fe9; 
}


button {
  
  border-radius:15px;
  border:1px;
  width:75px;

}








.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
