.App {
  text-align: center;
}

.friendListRow{
  display:flex;
  margin: 30px 0;
  justify-content: space-between;
  text-decoration: none;
  color:black;
}

.friendsListItem{
  width: 200px;
}


.friendsListTitleBar{
  display:flex;
  margin: 30px 0;
  justify-content: space-between;
}
.titleItem{
  width: 200px;

}


.friendSubmitForm{
  display:flex;
  flex-direction: column;
width: 600px;
justify-content: center;
}
.friendSubmitFormInput{
margin: 10px;
width: 100%;
}
.App{
  margin:0 auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.friendForm{
  margin: 50px 0;
}