.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.friend-container {
  border: 1px solid lightgray;
  width: 30%;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px;
}
.friends-container {
  display: flex;
  flex-wrap: wrap;
}

.friends-form form input {
  padding: 10px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-top: 20px;
}

#submit {
  background: green;
  color: white;
}
