.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: flex-end;  
}

li {
  list-style: none;
  margin-right: 25px;
}

a {
  text-decoration: none;
  padding: 6px;
  color: darkgreen;
  font-weight: bold;
}

.login-field {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.login-form {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
};




