.App {
  text-align: center;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 36px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(206, 75, 75, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

li {
  list-style: none;
  margin-right: 6px;
  color: #204963;
  justify-content: space-between;
}
