.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.link{
  position: absolute;;
  top: 20%;
  right: 30%;

}

.Nav{
display: flex;
text-decoration: none;
position: relative;
left: 10px;
}
h4{
  position: relative;
left: 40%;

}
h2{
  margin: 10px;
  text-decoration: wavy;
  color: white;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;


}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
