.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Friend-card {
  margin: 10px auto;
  width: 50%;
}

.Friend-form {
  background: rgb(223, 222, 222);
  margin: 10px auto;
  padding: 10px;
  width: 50%;
}

.Friend-form-group {
  margin: 10px auto;
  background: rgb(224, 186, 186);
  width: 90%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
