.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}
.card *{
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
}
.createFriendForm{
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}