body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Container{
	border: 1px purple dashed;
	width: 60vw;
	margin: 25px auto;
	text-align: center;


	.LoginPage{
		padding: 50px 0px;
		width: 100%;
		display: block;
		text-align: center;

		form{
			display: inline-block;
			width: 200px;
		}

	}


}