body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Container{
	border: 1px purple dashed;
	width: 60vw;
	margin: 25px auto;
	text-align: center;


	.LoginPage{
		padding: 50px 0px;
		width: 100%;
		display: block;
		text-align: center;

		form{
			display: inline-block;
			line-height: 1.8rem;
			width: 200px;
		}
	}//LoginPage

	.FriendsList{
		font-size: 1.2rem;		

		.ListOfFriends{			
			
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			
			div{
				margin: 2px auto;
				border: 1px black solid;
				border-radius: 20px;
				width: 49%;
				
				h4{
					line-height: 1.2rem;
				}
			}

		}
	}//FriendsList

	.AddFriend{
		padding: 50px 0px;

		form{
			display: inline-block;
			line-height: 1.8rem;
			width: 200px;
		}
	}//AddFriend

	.DeleteFriend{
		padding: 25px 0px;

		form{
			display: inline-block;
			line-height: 1.8rem;
			width: 200px;
		}
	}

}