body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.landing{
  background-image: url('https://2.bp.blogspot.com/-PuypMEvPPno/Vs8g16CKLsI/AAAAAAAACgo/xRxZUpqYxTw/s1600/friends_wallpaper_by_the_sun_king-d5aw3dz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top:1rem;
}

.login{
  padding-top: 1rem;
  background-image: url('https://2.bp.blogspot.com/-PuypMEvPPno/Vs8g16CKLsI/AAAAAAAACgo/xRxZUpqYxTw/s1600/friends_wallpaper_by_the_sun_king-d5aw3dz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height:100vh;
}
.form{
  display:block;
  margin:25vh 40vw;
}

.links{
  width:25%;
  display:flex;
  justify-content: space-around;
}
.link{
  text-decoration: none;
  font-size: x-large;
}

.friends-list{
  padding-top: 1rem;
  .friends-header{ 
    display: flex;
    justify-content: space-between;
    margin-bottom:3rem;
    width:80%;
  }

  .friends{
    padding:2rem;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-image: url('https://2.bp.blogspot.com/-PuypMEvPPno/Vs8g16CKLsI/AAAAAAAACgo/xRxZUpqYxTw/s1600/friends_wallpaper_by_the_sun_king-d5aw3dz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .friend{
    width:30%;
    height:20rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    opacity:0.9
  }
  #spinner{
    position:absolute;
    display:block;
    margin:40vh 50vw;
  }
  
  
}

.new-friend{
  padding: 2rem;
}
.space-maker{
  height:0.5rem;
}
.title{
  text-align:center;
}