* {
    /* margin: 10px; */
}

.App {
    text-align: center;
    /* background: #F17563; */
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* CUSTOM STYLES */

input.checkbox {
    color: black;
}

.friend-card {
    perspective: 1000px;
    transform-style: preserve-3d;
    display: block;
    width: 350px;
    /* height: 200px; */
}


.flippingCard {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 800ms;
  /* z-index: 20; */
  /* border: 1px solid #F17563; */
}

.flippingCard div{
  position: relative;
  top: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
  z-index: 20;
  /* border: 1px solid blueviolet; */
}

.flippingCard .front {
  border: 1px solid #63f1d9;
}

.flippingCard .back {
  transform: rotateY(180deg);
  border: 1px solid #F17563;
}

.friend-card:hover .flippingCard {
  box-shadow: 20px 20px 20px rgba(50, 50, 50, 0.2);
}

:checked + .flippingCard {
  transform: rotateY(180deg);
}