.friend-form {
  display: flex;
  justify-content: center;
  margin: 0px 200px;
  height: 40px;
}

.friend-input {
  margin: 0 30px;
  text-align: center;
  width: 200px;
  font-family: 'Koho', sans-serif;
  font-size: 24px;
}

input {
  opacity: 0.5;
}

.submit-button {
  font-family: 'Koho', sans-serif;
  font-size: 24px;
  border-radius: 5px;
  background-color: lightslategray;
  color: white;
}

.submit-button:hover {
  background-color: lightslategray;
}
