.FormContainer {
  margin: 0 auto;
  max-width: 600px;
  width: 85%;
}

.Form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 80%;

    input {
      border-radius: 3px;
      height: 2rem;
      margin: 0.5rem 1rem;
      padding: 0.5rem 1rem;
      width: 65%;
    }
  }

  button {
    border-radius: 3px;
    height: 2rem;
    margin: 1rem 0 1rem 15%;
    width: 52%;
  }
}
