body {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/7ae7da84932571.5d6d01c5cc781.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

h2 {
  margin-top: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  /* color: #09d3ac; */
}
