@media all and (min-width: 480px) {
    
    
    .Login {
      padding: 60px 0;
      /* margin-top: 50px; */
    }

    .Login .logo {
        width: 5%;
        border-radius: 100%;
        margin-bottom: 10px;
        margin: 0 650px;
    }
  
    .Login form {
      
      margin: 0 auto;
      max-width: 320px;
    }
  }