.add {
	color: rgb(100, 183, 211);
	text-decoration: none;
	width: 100%;
	padding: 30px;
	margin: 1rem 0 1rem;
	height: 3rem;
	border: none;
	// border: 1px solid rgb(192, 191, 191);
	border-radius: 0.4rem;
}
