.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.container{
width: 300px;
border: 1px solid white;
margin: 0 auto;
margin-top: 10px;
background:#800020; 
color: white;
}
.li-styles{
  margin-bottom: 10px;
}
li{
  list-style:square;
}