@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.friend {
  border-bottom: 2px dotted black;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
}

.friend input {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
}