.App {
  text-align: center;
}

.App-header {
  background-color: rgb(16, 51, 145);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-logo {
  position: absolute;
  left: 10px;
}