* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.total {
  margin-bottom: 15px;
}

.balances {
  list-style-type: none;
}

.balances li {
  display: inline-block;
  font-weight: bold;
  opacity: 0.5;
}

.balances li:not(:last-child) {
  margin-right: 40px;
}

.activity {
  list-style-type: none;
  text-align: left;
  border: 1px solid lightgray;
  margin-top: 15px;
}

.activity li {
  padding: 5px;
}

.activity li:nth-child(even) {
  background: lightgray;
}

.error {
  background: rgba(255, 0, 0, 0.596);
  color: white;
  padding: 5px;
  margin: 1rem 0;
  border-radius: 10px;
  position: absolute;
  top: 5%;
}

section {
  padding: 50px;
}

section:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

form {
  margin: 20px;
}

input,
select {
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  background: transparent;
}

button {
  border: none;
  padding: 0.2rem 2rem;
  text-decoration: none;
  background: blue;
  color: #ffffff !important;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  justify-self: flex-end;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    210deg,
    #0400ff9d 0%,
    #0043d3 40.13%,
    #007fb9 90%
  );
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.233);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.15);
  color: white;
}

.login-form input {
  width: 90%;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 2rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.281);
  background-color: rgba(255, 255, 255, 0.219);
  font-weight: bold;
  color: white;
}

.login-form input::placeholder {
  color: rgba(255, 255, 255, 0.555);
}

.login-form button {
  border: none;
  padding: 0.2rem 2rem;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.219);
  border-radius: 6px;
  border: 2px solid white;
  color: #ffffff !important;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  justify-self: flex-end;
}
