.animation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.friend-list {
  font-family: 'KoHo', sans-serif;
  text-align: center;
  padding: 20px 0px 40px 0px;
}
