.Friends__buttons {
    display: flex;
    justify-content: space-evenly;
  }
  
  .Friends__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin: 3%;
  }