.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2%;
    background-color: #7397bf;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2vh;
}

button{
    padding: 1%;
    width: 10%;
    background-color: #113c6a;
    color: #dddddd;
    border-radius: 4px;
    border: none;
    margin: 0 1%;
}

button:hover{
    background-color: #1d6dc1;
}