.login-container {
	width: 30%;
	margin: 0 auto;
	font-size: 2.5rem;
	margin-top: 35vh;
	font-family: 'Montserrat', sans-serif;
}
h2 {
	color: rgb(100, 183, 211);
}
.form-container {
	display: flex;
	flex-direction: column;
	.username-password {
		width: 20%;
		margin: 1rem 0 1rem;
		height: 3rem;
		border: none;
		border: 1px solid rgb(192, 191, 191);
		border-radius: 0.4rem;
	}
}
button {
	background-color: rgb(100, 183, 211);
	text-align: center;
	width: 8rem;
	height: 2rem;
	border: none;
	border-radius: 0.4rem;
	color: rgb(248, 248, 248);
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	margin-left: 10;
}
