* {
  
}

body {
  background: #ccc;
}

a {
  color: #fff;
  background: #333;
  padding: 20px;
  text-decoration: none;
}

a:visited {
  color: #fff;
  background: #225599;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

form input {
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 15px;
}

button {
  width: 200px;
  height: 50px;
  padding: 0;
  margin-top: 10px;
  color: #fff;
  background: #4477ff;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 2px solid #333;
  background: #4477ff;
  border-radius: 4px;
}

.header h1 {
  font-size: 200px;
}

.header a {
  font-size: 20px;
}

.home-link {
  width: 25%;
  text-align: right;
  padding-right: 20px;
}

.add-friend-link {
  width: 25%;
  text-align: left;
  padding-left: 20px;
}
@media(min-width: 400px) {
  .add-friend-link {
    width: 25%;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
  }
}
.header-title {
  width: 50%;
  text-align: center;
}

.header h2 {
  font-size: 35px;
}

.friend-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.friend-card {
  padding: 10px;
  text-align: center;
  background: #4477ff;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 4px;
}

.friend-wrapper {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  text-align: center;
  background: #fff;
  margin: 0;
  border: 2px solid #333;
  border-radius: 4px;
}

.friend-wrapper h3 {
  font-size: 30px;
  margin: 0;
}


.friend-wrapper strong {
  font-size: 25px;
  margin: 0;
}

.friend-wrapper p {
  font-size: 25px;
  margin: 10px;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.outer-wrapper {
  display: flex;
  justify-content: center;
}