.Header {
  align-items: center;
  background-color: #0A369D;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
}

.Header h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.Header h1 .title {
  margin: 0 8px;
}